table, th, td{
  width: 70%;
  margin: auto;
  text-align: center;
  padding: 0px;
  border: 0px;
}

th, td { height: 20px; border-bottom: 1px solid #ddd; }
th { width: 120px; }
td { width: 50px; }

table { 
  border: 1px solid #000;
  /*border-collapse: collapse;*/
  border-color: #000;
}

.odd {
  background-color: #74d7ec;
}

.even {
  background-color: #ffafc7;
}